body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
}

.bg-teal {
  background-color: #205e5e;
}

.table tbody tr td {
  font-weight: bold;
}

.table tbody tr td {
  font-weight: bold;
}

.bg-primary,
.btn-primary {
  background: linear-gradient(45deg, black, deepskyblue);
}

.bg-info,
.btn-info {
  background: linear-gradient(45deg, black, cadetblue);
}

.bg-secondary,
.btn-secondary {
  background: linear-gradient(45deg, black, mediumpurple);
}

.bg-success,
.btn-success {
  background: linear-gradient(45deg, black, lawngreen);
}

.bg-warning,
.btn-warning {
  background: linear-gradient(45deg, black, lightcoral);
}

.bg-danger,
.btn-danger {
  background: linear-gradient(45deg, black, orangered);
}
