.landing{
    background: white url("assets/img/bg-image.jpg") no-repeat scroll center;
    background-size: cover;
    height: 100vh;
    color: pink;
}
.wrapper{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}