.full-screen {
    background: url("../../assets/img/card_6.jpg") center/cover no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Dark transparent overlay */
.overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}

/* Center content perfectly */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

/* Better button UI */
.home-button {
    font-size: 20px;
    padding: 14px 20px;
    --border-radius: 12px;
}
