<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Node JS</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: lightseagreen;
        font-size: 30px;
        text-align: center;
      }
      nav {
        background-color: black;
        padding: 10px;
      }
      nav a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 10px 25px;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/services">Services</a>
      <a href="/contact">Contact</a>
    </nav>
    <div>
      <h2>Welcome to Node JS</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
        dolorem eius eveniet fuga iusto minus soluta totam? Dolor et facere
        fugiat illum inventore, ipsum omnis optio quia reiciendis similique
        totam.
      </p>
    </div>
  </body>
</html>
