<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Node JS</title>
    <link rel="stylesheet" href="public/styles.css" />
  </head>
  <body>
    <div>
      <h2>Welcome to Express JS</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
        dolorem eius eveniet fuga iusto minus soluta totam? Dolor et facere
        fugiat illum inventore, ipsum omnis optio quia reiciendis similique
        totam.
      </p>
    </div>
  </body>
</html>
