/* Animation */
.fadeInUp {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUpAnim 0.5s forwards ease-out;
}

@keyframes fadeInUpAnim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Product Card Hover */
.product-card {
  transition: 0.3s;
  border-radius: 10px;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 22px rgba(0, 0, 0, 0.15) !important;
}

/* Image zoom */
.product-img-wrapper {
  overflow: hidden;
  border-radius: 10px;
}

.product-img-wrapper img {
  transition: transform 0.3s ease;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.product-card:hover img {
  transform: scale(1.1);
}
