.navbar {
  background-color: blueviolet;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
}
